.Booking-container {
  max-width: 1450px;
  padding: 20px;
  margin: 0 auto;
  background-color: #181818;
}
.Booking-container > h2 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.5rem;
  padding: 10px 0;
  color: #a5cbef;
  font-weight: 700;
  background: linear-gradient(to right, #ff8a00, #ff2070);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}
.choose-province {
  position: relative;
}
.choose-province > h3 {
  margin: 10px 5px;
  color: #ccc;
}
.province-input {
  height: 40px;
  width: 252px;
  font-size: 20px;
  outline: none;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
}
.province-list {
  position: absolute;
  width: 250px;
  height: 180px;
  z-index: 99;
  background-color: #fff;
  overflow-y: auto;
}
.province-list::-webkit-scrollbar {
  width: 6px;
}
.province-list::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 20px;
}
.province-item {
  padding: 12px 8px;
  border-bottom: 1px solid #cccc;
  cursor: pointer;
}
.province-item:hover {
  background-color: #eaeaea;
}
.choose-date {
  margin-top: 40px;
}
.choose-date > h3 {
  color: #fff;
  margin: 16px 5px;
}
.box-date {
  width: 120px;
  height: 75px;
  margin-right: 20px;
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.box-date.active {
  background-color: #24a4d8;
}
.box-date > p {
  margin-bottom: 10px;
}
.date {
  display: flex;
  align-items: center;
}
.choose-cinema {
  margin: 70px 0 30px;
  display: flex;
  align-items: center;
}
.choose-cinema > div {
  width: 55px;
  height: 55px;
  background-color: #24a4d8;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.choose-cinema > div > img {
  width: 55px;
  height: 55px;
  border-radius: 3px;
  object-fit: cover;
}
.choose-time-seat {
  display: flex;
  margin-top: 100px;
}
.address-cinema {
  flex: 1;
  margin-right: 20px;
  overflow-y: scroll;
  height: 500px;
}
.address-cinema::-webkit-scrollbar {
  width: 8px;
}
.address-cinema::-webkit-scrollbar-thumb {
  background-color: #515151;
  border-radius: 20px;
}
.address-cinema-item {
  border: 1px solid #515151;
  padding: 10px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #2b343c, #372d36);
}

.address-cinema .header {
  border-bottom: 1px solid #515151;
}
.address-cinema .header > h3 {
  font-size: 1.15rem;
  margin-bottom: 20px;
  color: #fff;
}
.address-cinema .header > p {
  margin-bottom: 10px;
  color: #fff;
}
.showtime-content {
  display: flex;
}
.showtime-content > p {
  padding: 10px 8px;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
  background: linear-gradient(to left, #2b343c, #372d36);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.showtime-content > p:hover {
  background: none;
  background-color: rgba(36, 164, 216, 0.4);
}
.payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 80px;
  padding: 0 30px;
  background: linear-gradient(to right, #2b343c, #372d36);
}
.payment-info,
.payment-btn {
  display: flex;
  align-items: center;
}
.payment-info > p:first-child {
  margin-right: 20px;
}
.payment-info > p {
  font-size: 20px;
}
.payment-info > p > span {
  color: #24a4d8;
}
.payment-btn > p {
  padding: 11px 22px;
  font-size: 20px;
  cursor: pointer;
}
.payment-btn > p:first-child {
  background-color: transparent;
  border-radius: 5px;
  color: #fff;
}
.payment-btn > p:hover {
  opacity: 0.8;
}
.payment-btn > p:nth-child(2) {
  margin-left: 20px;
  background-color: #24a4d8;
  color: #fff;
  border-radius: 5px;
}
.showtime-content .time-active {
  background: none;
  background-color: #24a4d8;
  color: #fff;
}
.movie-booking {
  text-align: center;
  color: #fff;
}
.movie-booking > p {
  font-size: 1.25rem;
  padding: 10px 0;
  color: #a5cbef;
  font-weight: 700;
  background: linear-gradient(to right, #ff8a00, #ff2070);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}
.movie-booking > p:first-child {
  font-size: 24px;
}
.booking-ticket > h3 {
  font-size: 1.25rem;
  padding: 10px 0;
  color: #a5cbef;
  font-weight: 700;
  background: linear-gradient(to right, #ff8a00, #ff2070);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}
